:root {
  --primary_text_color: whitesmoke;
  --global_font: sans-serif;
}

body {
  color: var(--primary_text_color);
  font-family: var(--global_font);
  background: linear-gradient(to right, #434343, #000000);
}

/*! Non-standardized*/
/** source: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::-webkit-scrollbar */
body::-webkit-scrollbar {
  display: none;
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/** Used for inital hero section load: ->./script.js*/
@keyframes fadeIn {
  0% {
    gap: 50px;
    opacity: 0;
  }

  100% {
    gap: 0;
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-out forwards;
  /** forwards keeps elements in final state*/
}

/*============================*/
/* Hero Section */
/*============================*/
#donateBtn {
  text-decoration: none;
  /** removes underline*/
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 99;
  font-size: 20px;
  transition: opacity 0.5s ease;
}

/** Hover Animation taken from https://prismic.io/blog/css-hover-effects (Do not copy past this)*/
.hover-underline {
  font-size: 2rem;
  color: var(--primary_text_color);
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #666666, #000000);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

#donateBtn.fade-out {
  opacity: 0;
  pointer-events: none;
  /** disables click*/
}

#landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#landingPage h1 {
  color: var(--primary_text_color);
  font-size: clamp(2rem, 5vw, 5rem);
  /**default for 1 rem ("root em") is about 16px*/
  margin: 0;
}

#landingPage h2 {
  margin: 0;
}

#socials {
  display: flex;
}

#socials ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding-inline-start: 0;
}

#socials ul img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

#landingPage p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  padding: 10px;
  margin: 0;
}

#pinpicture {
  width: 1.5rem;
  height: 1.5rem;
}

#pinpicture:hover {
  animation: pinBounce 0.6s linear;
}

/*TODO: come back to this and create new up and swing animation*/
@keyframes pinBounce {
  0%,
  100% {
    transform: translateY(0) scale(1.15);
  }

  50% {
    transform: translateY(-6px) scale(1.2);
  }
}

.cursor {
  color: var(--primary_text_color);
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#scrollDown {
  position: relative;
  top: 150px;
  width: 60px;
  height: 60px;
  filter: brightness(0) invert(1);
  animation: bounce 2s ease-in-out infinite;
  animation-delay: 3s;
  animation-fill-mode: both;
  /** applies style before and after animation*/
}

/* TODO: come back to this with J.S file */
#scrollDown.show {
  opacity: 1;
  transform: translateY(0) rotate(90deg);
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(90deg);
  }

  50% {
    transform: translateY(-25px) rotate(90deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

/*=================================*/
/* LANGUAGES AND FRAMEWORK SECTION */
/*=================================*/
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#skills h3 {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  text-align: center;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item img {
  width: clamp(35px, 4vw, 64px);
  height: clamp(35px, 4vw, 64px);
  filter: brightness(0) invert(1);
}

.item1 {
  animation-delay: calc(30s / 12 * (12 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 12 * (12 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 12 * (12 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 12 * (12 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 12 * (12 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 12 * (12 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 12 * (12 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 12 * (12 - 8) * -1);
}

.item9 {
  animation-delay: calc(30s / 12 * (12 - 9) * -1);
}

.item10 {
  animation-delay: calc(30s / 12 * (12 - 10) * -1);
}

.item11 {
  animation-delay: calc(30s / 12 * (12 - 11) * -1);
}

.item12 {
  animation-delay: calc(30s / 12 * (12 - 12) * -1);
}

/*==============================*/
/*  EXPERIENCE SECTION          */
/*==============================*/
#experienceSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0% 5% 0%;
}

#experienceSection h3 {
  font-size: clamp(2rem, 3vw, 3.5rem);
}

.timeline {
  position: relative;
  padding: 2%;
  width: 60%;
  height: fit-content;
}

.timeline::before {
  content: ""; /** Needed for pseudo-element the .timeline::before acts as child of .timeline "content:""" needed*/
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 5px;
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
}

.jobPost {
  width: clamp(260px, 45vw, 520px);
  border-radius: 15px;
  display: flex;
  background: rgba(255, 255, 255, 0.06);
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.jobPost h4 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.jobPost h5 {
  font-size: clamp(0.7rem, 2vw, 1.1rem);
}

.jobPic {
  height: 80px;
  width: 80px;
  border-radius: 15px;
  margin: 2%;
}

.jobInfo {
  margin-left: 3%;
}

.jobTitle {
  margin-top: 5%;
  margin-bottom: 0;
}

.jobPosition {
  margin-top: 0;
  margin-bottom: 0;
}

.jobDate {
  margin-top: 0;
  margin-bottom: 2%;
}

.timeline .jobPost:nth-child(odd) {
  justify-self: start;
  border-top-right-radius: 0;
}

.timeline .jobPost:nth-child(even) {
  justify-self: end;
  border-top-left-radius: 0;
}

.timeline .jobPost::after {
  /** DOT*/
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(72, 202, 228, 0.2);
  background-color: cornflowerblue;
}

.timeline .jobPost:nth-child(odd)::after {
  right: -34px;
}

.timeline .jobPost:nth-child(even)::after {
  left: -34px;
}

/*============================*/
/*  PROJECT SECTION           */
/*============================*/
#projectSection {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#projectSection h3 {
  font-size: 40px;
}

#projectDisplay {
  display: flex;
  border-radius: 15px;
  width: 90%;
  height: 375px;
  background: rgba(255, 255, 255, 0.06);
}

.card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  justify-content: center;
  display: grid;
  color: white;
}

.card-back {
  transform: rotateY(180deg);
  grid-template-rows: auto 1fr;
  padding: 14px;
  text-align: center;
  box-sizing: border-box; /**TODO: COME BACK TO THIS*/
}

.back-stack {
  display: grid;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.stackContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stackContainer img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}

.projectPost {
  margin-top: 1.5%;
  margin-left: 1.5%;
  width: 250px;
  height: 325px;
  border-radius: 15px;
  border: 1px solid rgb(43, 41, 41);
}

.card-front img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin-top: 10%;
}

.projectPost h4 {
  text-align: center;
  font-size: 25px;
}

/*===========================*/
/*  EXTRA INFO. SECTION      */
/*===========================*/
#extraInfo {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}

#extraInfo h3 {
  font-size: 40px;
}

#extraInfo p {
  margin: 0 10%;
}

/*==========================*/
/*   MEDIA BREAKPOINTS      */
/*==========================*/
@media screen and (max-width: 768px) {
  #pinpicture {
    width: 12px;
    height: 12px;
  }

  #socials {
    flex-direction: column;
    align-items: center;
  }
}

/* Converts Project section from desktop to slider display*/
@media screen and (max-width: 840px) {
  #projectDisplay {
    width: 90vw;
    height: fit-content;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 25%;
  }

  .projectPost {
    margin: 20px;
    max-width: 250px;
    height: 325px;
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
}

@media (orientation: portrait) {
  /**Mobile layout*/
  .timeline::before {
    left: 4%;
  }

  .jobPost {
    margin-top: 9%;
    margin-bottom: 9%;
    margin-left: 9%;
  }

  .timeline .jobPost:nth-child(odd) {
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
  }

  .timeline .jobPost:nth-child(even) {
    justify-self: start;
  }

  .timeline .jobPost:nth-child(odd)::after {
    right: 107.25%;
  }
}
