/* Generic Rules */
body{
    color: #f1f1f1;
    background-color: #1B263B;
    font-family: sans-serif;
    margin: 0;
}

li{
    list-style-type: none;
}

p, li, h3, h1{
    color: #fff;
}

/* Come back to this */
.reveal{
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    0%{
        gap: 50px;
        opacity: 0.5;
    }
    100%{
        gap: 0;
        opacity: 1;
    }
}

.fadeIn{
    animation: fadeIn 1s ease-out forwards;
}

#landingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    gap: 50px;
}

#landingPage h1{
    width: fit-content;
    height: fit-content;
    font-size: 100px;
    margin: 0;
}

#landingPage p{
    font-size: 30px;
    padding: 10px;
    margin: 0;
}

#pinpicture{
    width: 30px;
    height: 30px;
}

#socials{
    display: flex;
}

#socials ul{
    padding-inline-start: 0;
}

#socials li{
    display: inline-block;
    margin: 0 10px;
}

#socials li img{
    width: 30px;
    height: 30px;
}

/* LANGUAGES AND FRAMEWORK SECTION */
#skills h3{
    height: fit-content;
    font-size: 30px;
    margin: 10px;
}

.skillList img{
    width: 25px;
    height: 25px;
    /* Turns the black svg and png images white */
    filter: brightness(0) invert(1);
}

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
}

#skills ul{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 75%;
    height: fit-content;
    background-color: #243447; 
    border-radius: 15px;
}

/* NOT TOO HAPPY WITH THIS SO COME BACK TO THIS */
#skills li{
    padding-left: 45px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    margin: 10px;
    border-radius: 15px;
}

/* This portion is for my experience section */
#experienceSection{
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#experienceSection h3{
    font-size: 40px;
    margin: 0;
}

/* This is the portion for personal and or school related projects I want on here */
@keyframes liftOff {
    0%{
        box-shadow: 1px 1px 10px #17212d;
    }
    100%{
        box-shadow: 10px 10px 15px #17212d;
    }
}

@keyframes putDown{
    0%{
        box-shadow: 10px 10px 15px #17212d;
    }
    100%{
        box-shadow: 1px 1px 10px #17212d;
    }
}

.projectPost{
    margin: 2%;
    width: 250px;
    height: 325px;
    border-radius: 15px;
    border: 1px solid #243447;
    box-shadow: 1px 1px 10px #17212d;
}

.projectPost:hover{
    animation: liftOff 1s ease forwards;
}

.projectPost:not(:hover){
    animation: putDown 1s ease;
}

.projectPost button{
    padding: 10px;
    border-radius: 15px;
    background-color: #f1f1f1;
    margin-left: 80px;
}

.projectPost img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 10px;
}

.projectPost h4{
    margin-left: 90px;
}

#projectSection{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projectSection h3{
    font-size: 40px;
}

#projectDisplay{
    display: flex;
    border-radius: 15px;
    width: 90%;
    height: 375px;
    background-color: #243447;
}

/* This is the small about me section */
#extraInfo{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#extraInfo h3{
    font-size: 40px;
}

#extraInfo p{
    margin: 0 10%;
}

/* This is for the breakpoints */
/* This is for the mobile screen (iphone)*/
@media screen and (max-width: 500px){
    #landingPage{
        width: 768px;
        height: 500px;
        margin-bottom: 300px; 
    }

    #landingPage h1{
        font-size: 80px;
        margin-right: 50px;
    }

    #skills h3{
        font-size: 40px;
        margin-left: 525px;
        width: 200%;
    }
    
    .skillList img{
        width: 50px;        
        height: 50px;
    }
    
    #skills ul{
        margin-left: 300px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        width: 150%;
    }

    #experienceSection h3{
        font-size: 50px;
        margin-top: 100px;
        margin-left: 300px;
    }

    #experienceSection p{
        font-size: 25px;
        margin-left: 325px;
        width: 200px;
    }

    #projectSection h3{
        font-size: 50px;
        margin-left: 300px;
    }

    #projectDisplay{
        width: 800px;
        margin-left: 400px;
    }

    #extraInfo{
        width: 100vw;
    }

    #extraInfo h3{
        font-size: 50px;
        margin-left: 475px;
        width: 100vw;
    }

    #extraInfo p{
        width: 100vw;
        margin-left: 350px;
    }
}