/* Generic Rules */
body{
    background-color: #1B263B;
    margin: 0;
}

li{
    list-style-type: none;
}

p, li, h3, h1{
    color: #fff;
}

/* Structure: from top to bottem of homepage */
#navBar{
    display: flex;
    justify-content: end;
    background-color: #6C757D;
    width: 100%;
}

#navBar li{
    /* inline-block allows us to resize the elements since inline doesnt allow for margin and paddding resizing */
    display: inline-block;
    padding: 0 5px;
    margin: 0 10px;
}

#socials{
    display: flex;
}

#socials li{
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}

#socials li img{
    width: 25px;
    height: 25px;
}

/* TODO: fix this when you come back */
@keyframes hoverAnimation{
    0%{
        box-shadow: 0px 0px 0px #f1f1f1;
    }
    100%{
        box-shadow: 3px 3px 3px #f1f1f1;

    }
}

#socials li:hover{
    /* X offset | Y offset | Stregnth */
    animation: hoverAnimation 2s linear;
}

#pinpicture{
    width: 12px;
    height: 12px;
}

.skillList img{
    width: 12px;
    height: 12px;
    /* Turns the black svg and png images white */
    filter: brightness(0) invert(1);
}
