#blogSection{
    width: 100vw;
    min-height: 100svh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blogSection h3{
    font-size: clamp(35px, 2rem, 300px);
    text-align: center;
}

#LatestBlogPost{
    width: 75%;
    min-height: 60svh;
    height: auto;
    border-radius: 15px;
    border: 1px solid black;
}

#blogSection a{
    all: unset;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    font-size: clamp(15px, 1rem, 25px);
    margin-top: 2%;
    margin-left: 45%;
}

#blogSection a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
}

#blogSection a:hover::after{
    width: 100%;
    left: 0;
}
