#navBar{
    background-color: rgba(255, 255, 255, 0.259);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    width: 99%;
    height: 75px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navBar ul{
    display: flex;
    gap: clamp(18px, 1.5rem, 25px);
    margin: 0;
    padding: 0 40px;
}

#navBar li{
    padding: 0;
    list-style-type: none;
    font-size: clamp(16px,1.6vw, 24px);
}

#navBar a{
    all: unset;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

#navBar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
}

#navBar a:hover::after{
    width: 100%;
    left: 0;
}

@media screen and (max-width: 840px){
    #navBar{
        display: none;
    }
}
  

